<% @side_bar_template_name = "shared/sidebar_registration" %>
<% @page_title = "Registration" %>

<ul>
<li>You can make your own calendar by logining.</li>
<li>Make sure this is a BETA application. There is possibly something WRONG.</li>
<li>So you had better avoid writing private or important things.</li>
<li>When your private todos flow out unfortunately, I can do nothing without apologizing that, Sorry.</li>
</ul>

