Time Error(Out of Time Range. Please back to the future of past.)
<script type="text/javascript" >
	var all = $("calendar").getElementsByTagName('table');
    for (var i = 0; i < 9; i++) {
        all[i].style.filter = "alpha(opacity=100)";
        all[i].style.MozOpacity = "1.0";
        all[i].style.opacity = "1.0";
    }
</script>

